<h1>This is the index view</h1>
<p>You can see all the tasks</p>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.title %></li>
    <p>Completed? <%= task.completed %></p>
    <%= link_to "plus de détail", task_path(task) %>
  <% end %>
</ul>


