<h1>This is the index view</h1>
<p>You can see all the tasks</p>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.title %></li>
    <li>Completed? <%= task.completed %></li>
  <% end %>
</ul>

<%= link_to "Back to all tasks", tasks_path%>
